extend /default

block content

  h1 Dev Pages

  h2 Style Guide
  ul
    li: a(href='/dev/style-guide/typography') Typography
    li: a(href='/dev/style-guide/form') Form
    li: a(href='/dev/style-guide/misc') Misc

  h2 Parts
  ul
    li: a(href='/dev/parts/article') Article
