extend /default

block content

  h1 Looks like there’s a problem

  p We’re sorry but we couldn’t find the page you were looking for.

  p Please try another address or go to the 
    a(href='/') homepage
    | .
